################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebScraperApp.Common/obj
/WebScraperApp.Core/obj
/WebScraperApp.Infrastructure/obj
/WebScraperApp.Common/Properties
